<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your event</title>
    <script src="https://cdn.tailwindcss.com"></script>
<body>
    <div style="text-align: center;">
        <p
            class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
        >
            A new message was posted on messagerie of event: {{name}}
        </p>
    </div>
</body>
</html>